<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование данных</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <form action="{{ url_for('edit_data', data_id=data_item.id) }}" method="post">
                <label for="data">Наименование:</label>
                <input type="text" name="data" value="{{ data_item.data }}" required><br>
            
                <label for="salary">Зарплата:</label>
                <input type="number" name="salary" value="{{ data_item.salary }}" required><br>

                <label for="service_type">Тип консультации:</label>
                <select name="service_type">
                    <option value="Индивидуальная" {% if data_item.service_type == 'Индивидуальная' %}selected{% endif %}>Индивидуальная</option>
                    <option value="Групповая" {% if data_item.service_type == 'Групповая' %}selected{% endif %}>Групповая</option>
                </select><br><br>

                <label for="service_duration">Длительность консультации (мин):</label>
                <input type="number" name="service_duration" value="{{ data_item.service_duration }}" required><br><br>

                <label for="service_price">Стоимость консультации:</label>
                <input type="number" name="service_price" value="{{ data_item.service_price }}" required><br><br>
            
                <label for="options">Выберите специализацию:</label><br>
                <input type="checkbox" name="options" value="Врач" {% if 'Врач' in data_item.options %}checked{% endif %}> Врач<br>
                <input type="checkbox" name="options" value="Психотерапевт" {% if 'Психотерапевт' in data_item.options %}checked{% endif %}> Психотерапевт<br>
                <input type="checkbox" name="options" value="Доктор медицинских наук" {% if 'Доктор медицинских наук' in data_item.options %}checked{% endif %}> Доктор медицинских наук<br>
                <input type="checkbox" name="options" value="Кандидат медицинских наук" {% if 'Кандидат медицинских наук' in data_item.options %}checked{% endif %}> Кандидат медицинских наук<br>
                <input type="checkbox" name="options" value="Врач-психотерапевт" {% if 'Врач-психотерапевт' in data_item.options %}checked{% endif %}> Врач-психотерапевт<br>
                <input type="checkbox" name="options" value="Клинический психолог" {% if 'Клинический психолог' in data_item.options %}checked{% endif %}> Клинический психолог<br><br>
            
                <button class="btn btn-primary" type="submit">Сохранить изменения</button>
            </form>
        </div>
    </div>
</body>
</html>
